body {
	background: #f8f8f8;
	font-family: 'Raleway', sans-serif;
}

.container {
	width: 1400px;
}

.banner {
	width: 100%;
    height: 293px;
    border-radius: 5px;
}

#top {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(left,  #1e5799 0%, #2989d8 50%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
	
	padding: 10px 0;
}

#top a {
	color: #23527c;
}

#logo {
	padding: 15px 0;
}

#banner {
	background-image: url("../images/banner5.jpg");
	background-position: center center;
	height: 350px;
}

#content {
	min-height: 800px;
	padding-bottom: 40px;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	color:#1C539D;
}


#footer {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(left,  #1e5799 0%, #2989d8 50%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
	
	color: #f8f8f8;
	padding: 10px 0;
	height: 100px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
}

.frontText {
	text-align: center;
	padding: 10px 0;
}

.loginHolder {
	text-align: right;
	padding: 15px 0;
}

.loginBtn {
	text-transform: uppercase;
	border: none;
	background: #1C539D;
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	margin-right: 10px;

	-moz-transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}

.loginBtn .fa {
	margin-left: 5px;
	font-size: 15px;
}

.loginBtn:hover {
	background: #243D5F;
}

.box {
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow:hidden;
	padding-top: 15px;
	margin-bottom: 30px;
	background: #fff;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.box h3 {
	color: #333;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

.boxPadding {
	padding: 20px 5px;
}

.carImg img {
	position: absolute;
	top: -20px;
}

.carSpecs {
	list-style: none;
}

.carSpecs li {
	float: left;
	width: 50%;
}

.carSpecs li strong {
	background: transparent url(../images/icons.png) no-repeat 0 50%;
    overflow: hidden;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: 0 0 6px 0;
    vertical-align: middle;
}

.icon-seats strong {
	background-position: -149px 50% !important;
}

.icon-gears strong {
	background-position: -49px 50% !important;
}

.icon-doors strong {
	background-position: -250px 50% !important;
}

.icon-bags strong {
	background-position: -300px 50% !important;
}

.icon-age strong {
	background: transparent url(../images/icon-age.png) no-repeat 0 50% !important;
}

.lowerBox {
	width: 100%;
}

.leftBox {
	float: left;
	width: 70%;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+100,7db9e8+100 */
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(left,  #1e5799 0%, #2989d8 50%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */


	text-align: right;
	color: #fff;
	padding: 20px;
	display: inline-block;
}

.rightBox {
	float: left;
	width: 30%;
	text-align: center;
	//background: #5dbb40;
	color: #fff;
	padding: 20px;
	display: inline-block;
}

.rightBox a {
	color: #fff;
	font-weight: 700;
}

/* HANS */

	.buyBtn{
		background: red;
	}
	.d0{
		display:block;
		background: #5dbb40;
	}
	
	.create {
		background: #5dbb40;
	}
	
	#showCars {
		
	}
	
	.renting {
		margin-top: 10px;
	}
	
	.bold{
		font-weight: bold;
	}
	
	input {
		padding: 4px;
		border-radius: 4px;
		border: 1px solid #243D5F;
	}
	
	.fade {
		background: rgba(0,0,0,0.4);
	}
	
	.seeCars {
		padding: 15px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 26px;
		background: #1C539D;
		border-radius: 4px;
		margin-bottom: 30px;
	}
	
	.seeCars a {
		color: #fff;
		
	}
	
.addNewDiv, .updateCarDiv, .updateUserDiv {
	background: #fff;
	border: 1px solid #ddd;
	padding: 10px
}

.updateCarDiv table, .updateUserDiv table {
	width: 100%;
}

.table-responsive-force {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
    -webkit-overflow-scrolling: touch;
}


.addNewDiv .row {
	margin: 0;
}

.addNewDiv .form-control {
	width: 98%;
}

.adminBtn {
	margin: 20px 0;
}

.adminBtn button {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(left,  #1e5799 0%, #2989d8 50%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
	color: #fff;
	width: 100%;
	padding: 20px;
	border: 0px;
}

.adminBtn button:hover {
	background: #16417a;
}

.username {
	color: #fff;
}

.modal .form-group {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.modal-header, .modal-footer {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(left,  #1e5799 0%, #2989d8 50%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}

.modal-header h4 {
	color: #fff;
}

/* Weather API */

.weatherBox {
	color: #fff;
	width: 100%;
	border: #ddd;
	text-transform: uppercase;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 25px;
}

.render {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(left,  #1e5799 0%, #2989d8 50%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
	
	z-index: 1;
}

.render h3 {
	text-align: center;
	margin-bottom: 0;
	margin-top: 55px;
	font-size: 20px;
}

.weatherTop {
	background: #1D539D;
	padding: 10px 20px;
}

.weatherTop p {
	margin: 0;
	font-size: 18px;
}

.weatherDay {

}

.weatherIcon {
	height: 60px;
	margin-bottom: 10px;
}

.weatherDate {
	text-align: right;
}

.weatherBody {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(left,  #1e5799 0%, #2989d8 50%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
	
	padding: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.weatherBody p {
	margin-bottom: 5px;
}

.weatherCity, .weatherDesc {
	font-size: 12px;
}

.weatherTemp {
	font-size: 66px;
	font-weight: bold;
	line-height: 0.9;
	margin: 15px 0;
}

.changeWeatherForm  select {
	margin-top: 10px;
	color: #fff;
	background: #1D539D;
}

.weatherBox .form-group {
	margin-bottom: 0px !important;
}
	








